{% extends "base-mini.html" %}
{% load myfilter %}

{%block css%}
#li-photo{border-bottom:#cccccc 3px solid;}
{% endblock%}

{%block title%}
Pistatium Photo
{%endblock title%}

{%block contents%}  
    <div class="clearfix">
        {% for pt in photo %}
            <div class="photoPanel clearfix" style="height:100px;margin:10px 5px;border-left:#fb8800 3px solid;background:#eee;">
                <img src="./show/{{ pt.key.id}}.jpg" width=100 alt={{pt.title}} style="max-height:100px;float:left;" >
                <div>
                    <input value="&lt;img src=&quot;./show/{{ pt.key.id}}.jpg&quot; width=300 alt={{pt.title}} &gt;" >   
                    </input>
                </div>
            </div>	
        {% endfor %}
    </div>
    <hr>	
	<div id="pager" style="clear:both;">
		{% if pager.has_previous %}
			<a href="./{{ pager.previous_page_number}}">{{pager.previous_page_number}}&lt;&lt;</a>
		{%endif%}
		 (Page {{pager.number}} of {{pager.paginator.num_pages}}.)  
		{% if pager.has_next %}
			<a href="./{{ pager.next_page_number}}">&gt;&gt;{{pager.next_page_number}}</a>
		{%endif%}
	</div>
{%endblock contents%}
